/* ################################## */
            /*Imports*/
/* ################################## */
@import url(responsive.css);
/* ################################## */
            /*Imports*/
/* ################################## */

/* ################################## */
            /*Fonts*/
/* ################################## */
@import url();
/* ################################## */
            /*Fonts*/
/* ################################## */

*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* SELECTION para ACTIVAR DEBES DESCOMENTAR */
::selection {
  display: none;
}
/* SELECTION */

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}
/* SCROLLBAR */
