/* ################################## */
            /*Imports*/
/* ################################## */
@import url(core-responsive.css);
/* ################################## */
            /*Imports*/
/* ################################## */

/* ################################## */
            /*Plugins*/
/* ################################## */
@import url(../plugins/cookies.css);
/* ################################## */
            /*Plugins*/
/* ################################## */

/* Default */
*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}
/* Default */

/* SELECTION para ACTIVAR DEBES DESCOMENTAR */
::selection {
  display: none;
}
/* SELECTION */

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}
/* SCROLLBAR */

/* HTML */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
/* HTML */

/* Body */
body {
  background-color: #0E100F;
}
/* Body */

/* Fixed's */
  /* Top */
  .fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  /* Top */
  /* Top right */
  .fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
  /* Top right */
  /* Top left */
  .fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  /* Top left */

  /* Bottom */
  .fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  /* Bottom */
  /* Bottom right */
  .fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  /* Bottom right */
  /* Bottom left */
  .fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  /* Bottom left */
/* Fixed's */